<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Printer_Task.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="GRB_Etiquetas.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
	  <add key="URL" value="http://192.168.1.200:7047/BC180/WS/Crivelsa%20IVA/Codeunit/PrinterDocument"/>
	  <add key="FOLDER" value="C:\Navision\Printer-Task"/>
	  <add key="DELAY" value="2000"/>
	  <add key="VERSION" value="05-02-2025-1"/>
	  <add key="USER" value="p0m2t8WeENzh2FDAHIIaAA=="/>
	  <add key="PASSWORD" value="BXxn2AP5+gaZQcf5iYEtG5FlcBhxTnTfoEwStARUu6g="/>
	  <add key="DOMAIN" value="bfYQxJ50E5o+DvsCVkOgb2KDhlmoqnoSxLXAiQmcxH8="/>
  </appSettings>  
  <applicationSettings>
    <Printer_Task.My.MySettings>
      <setting name="GRB_Etiquetas_WebEtiqueta_Etiquetas" serializeAs="String">
        <value>http://192.168.0.5:7047/BC180/WS/GRB/Codeunit/Etiquetas</value>
      </setting>
      <setting name="Printer_Task_WebPrinter_PrinterDocument" serializeAs="String">
        <value>http://192.168.1.200:7047/BC180/WS/Crivelsa/Codeunit/PrinterDocument</value>
      </setting>
    </Printer_Task.My.MySettings>
    <GRB_Etiquetas.My.MySettings>
      <setting name="GRB_Etiquetas_WebEtiqueta_Etiquetas" serializeAs="String">
        <value>http://192.168.0.5:7047/BC180/WS/GRB/Codeunit/Etiquetas</value>
      </setting>
    </GRB_Etiquetas.My.MySettings>
  </applicationSettings>
</configuration>
